@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    color: #00000;
    margin: 0;
    padding: 0;
}

#cabecalho{
    text-align: center;
}

#cabecalho ul{
    list-style: none;
    font-family: 'Montagu Slab', serif;
}

#cabecalho a{
    text-decoration: none;
    color: #ffffff;
}

#cabecalho a:hover {
    color: #00a859;
    transition: 300ms;
}

#cabecalho li{
    padding: 5px;
}

#titulo {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-style: oblique;
    font-weight: 200;
    border-radius: 20px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    margin-bottom: 60px;
    margin-top: 30px;
    background-color: #2156846e;
}

header ul {
    display: flex;
}

#resumo {
    /* TAMANHO */
    padding: 20px;
    /* ALINHAMENTO DO TEXTO */
    text-align: center;
    /* FAMÍLIA TIPOGRÁFICA */
    font-family: 'Montagu Slab', serif;
    /* TAMANHO DA FONTE */
    font-size: 18px;
}

ul {
    /* ALINHAMENTO */
    text-align: center;
    /* FAMILIA TIPOGRÁFICA */
    font-family: 'Bebas Neue', cursive;
    /* TAMANHO DA FONTE */
    font-size: 16px;
    /* ESTILO DA FONTE */
    font-style: oblique;
    /* MARGEM */
    margin: 20px 0px;
}

#corpo {
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#principal {
    text-align: center;
}

.subtitulo {
    /* COR DA FONTE */
    color: white;
    /* ALINHAMENTO CENTRALIZADO DO TEXTO */
    text-align: center;
    /* FAMÍLIA TIPOGRÁFICA */
    font-family: 'Montagu Slab', serif;
    /* TAMANHO DA FONTE */
    font-size: 32px;
    /* ESTILO DA FONTE */
    font-style: oblique;
    /* ESPESSURA DA FONTE */
    font-weight: 200;
    /* ESPAÇAMENTO */
    padding: 10px;
}
#rodape {
    text-align: center;
    padding: 20px;
}

.icones {
    margin: 20px;
    width: 70px;
    height: 70px;
}
