.segunda-aula-main {

    h1 {
        color: #0031ff;
    }

    h2 {
        color: #ffffff;
    }

    h3{
        color: #c4170c;
    }

    ul {
        background-color: antiquewhite;
        li {
            color: #000000;
        }
    }
}