.dark-theme {
    background-color: red;
}

.setima-aula-component {

    width: 100%;
    max-width: 1200px;
    margin: 50px auto;

    &>h1 {
        margin-bottom: 32px;
    }

    &>button {
        color: black;
        padding: 4px;
        margin-right: 12px;
    }

    .form-error {
        background-color: red;
    }

    form {

        input {
            color: black;
        }

    }

    .tittle-wrapper {

        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;

        button {

            font-size: 16px;
            background-color: rgb(105, 194, 105);
            padding: 12px 24px;
            border: none;
            border-radius: 4px;
            transition: .2s ease-in-out;

            &:hover {

                filter: brightness(120%);
                cursor: pointer;

            }

        }

    }

    .products {

        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        gap: 42px;

    }

}